pyTelegramBotAPI==4.16.1
aiohttp==3.9.1
beautifulsoup4==4.12.2
html5lib==1.1
requests==2.31.0
python-dotenv==1.0.0
ent==1.4.0
phonenumbers==8.13.0
pytz==2024.1
dnspython==2.6.1
Brotli==1.1.0
curl-cffi==0.8.0b6
Pillow==10.4.0
ent==1.4.0
